body {
  margin: 0;
  font-family: 'PT Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/PTSans-Bold.ttf") format('ttf'),
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/PTSans-Bold.ttf") format('ttf'),

}


@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/PTSans-Bold.ttf") format('ttf'),

}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/PTSans-Bold.ttf") format('ttf'),

}